<div class="login-container">
  <div class="login">
      <h1 class="login__title">Login</h1>
      <form class="login__form">
        <input class="login__input" type="email" name="email" id="email" placeholder="Email">
        <input class="login__input" type="password" name="password" id="password" placeholder="Password">
        <a routerLink="/sign_up" class="login__forgot">Forgot password?</a>
        <app-main-btn text="Login"></app-main-btn>
        <p class="login__login">Don't have an account? <a routerLink="/sign_up" class="login__link">Register now</a></p>
      </form>
    </div>
</div>