.quantity-size { 
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--primary-color-2);
}

.quantity-div { 
  width: 100%;
  display: flex;
  gap: 5px;
}

.quantity-div__item { 
  width: 100%;
}

.quantity-div__button { 
  appearance: none;
  padding: 5px;
  width: 95%;
  /* flex-basis: 25%; */
  height: 35px;
  /*width: 85px; */
  background-color: var(--primary-color-50); 
  border: 1px solid var(--primary-color-300);
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}

.quantity-div__button-active { 
  background-color: var(--primary-color-300);
  border: 1px solid var(--primary-color-600);
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.147);
}

@media screen and (max-width: 500px) { 
  .quantity-div__button { 
    font-size: 13px;
  }
}