<div class="sign-up-div-container">
  <div class="sign-up-div">
    <h1 class="sign-up-div__title">Sign up</h1>
    <form class="sign-up-div__form">
      <input class="sign-up-div__input" type="email" name="email" id="email" placeholder="Email">
      <input class="sign-up-div__input" type="password" name="password" id="password" placeholder="Password">
      <input class="sign-up-div__input" type="password" name="password-re" id="password-re" placeholder="Repeat password">
      <p class="sign-up-div__p">By Signing Up, you agree to our User Agreement and acknowledge reading our User Privacy Notice .</p>
      <app-main-btn text="Sign Up"></app-main-btn>
      <p class="sign-up-div__login">Have an account? <a routerLink="/login" class="sign-up-div__link">Login in</a></p>
    </form>
  </div>
</div>