<header>
  <a routerLink="/" class="header__link">
    <h1 class="header__title">
      {{title}}
    </h1>
  </a>
  <div class="header__right">
    <input class="header__search" type="text">
    <a class="header__link" routerLink="categories" routerLinkActive="header_link-active">Categories</a>
    <a class="header__link" routerLink="contacts" routerLinkActive="header_link-active">Contacts Us</a>
    <div class="header__cart">
      <img src="../../../assets/cart-logo.svg" alt="cart logo">
      
    </div>
    <img src="../../../assets/account-logo.svg" alt="account logo">

  </div>

</header>