<header>
  <a routerLink="/" class="header__link">
    <h1 class="header__title">
      {{title}}
    </h1>
  </a>
  <div class="header__right">
    <input class="header__search" type="text">
    <a class="header__link" routerLink="categories" routerLinkActive="header_link-active">Categories</a>
    <a class="header__link" routerLink="contacts" routerLinkActive="header_link-active">Contacts Us</a>
    <img src="../../../assets/search-logo-w.svg" alt="menu logo" class="header__search-logo">
    <div class="header__cart">
      <img src="../../../assets/cart-logo.svg" alt="cart logo">
      
    </div>
    <img class="header__account-logo" src="../../../assets/account-logo.svg" alt="account logo">
    <img src="../../../assets/menu-logo.svg" alt="" class="header__menu-logo">

  </div>

</header>