.home-slide-item { 
  position: absolute;
  top: 0;
  transform: translateX(100%) translateZ(0);
  width: 100%;
  height: 93vh;
}

.home-slide-item__bg-img { 
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.out-animation {
  animation: out 1.5s ease forwards;
}

.in-animation { 
  animation: in 1.5s ease forwards;
}

@keyframes out { 
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes in { 
  from {
    transform: translateX(100%);
  }

  to {
    transform: translatex(0%);
  }
}

.home-slide-item__details { 
  position:absolute;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-slide-item__title { 
  color: var(--primary-color-100);
  font-size: 80px;
  text-align: center;
}

.home-slide-item__special { 
  color: var(--primary-color-200)
}

.home-slide-item__line { 
  width: 20%;
  border: 4px solid var(--primary-color-300);
  margin-block: 10px;
}

.home-slide-item__des { 
  padding-top: 30px;
  color: white;
  width: 80%;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.home-slide-item__link { 
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 30px;
  font-weight: 600;

  margin-top: 10px;
  width: 300px;
  height: 80px;
  border-radius: 5px;
  color: var(--primary-color-900);
  background-color: var(--primary-color-100);
}

