<div class="home-slide-item"> 
  <img class="home-slide-item__bg-img" src="../../../assets/slides/{{data.img}}" alt="veg and fruits">
  <div class="home-slide-item__details">
    <h1 class="home-slide-item__title">{{data.title_a}} <span class="home-slide-item__special">{{data.title_special}}</span> {{data.title_b}}</h1>
    <div class="home-slide-item__line"></div>
    <p class="home-slide-item__des">{{data.des}}</p>
    <a routerLink="{{data.link}}" class="home-slide-item__link"><p class="home-slide-item__link-text">Shop Now</p></a>
  </div>
</div>
