<div
  class="cart"
  [ngClass]="
    storageService.cartVisibility
      ? 'cart__animation--open'
      : storageService.cartHasOpened
      ? 'cart__animation--close'
      : ''
  "
  (click)="onCartClick($event)"
>
  <div class="cart__main">
    <div class="cart__top">
      <h1 class="cart__title">Shopping Cart</h1>
      <div class="cart__close-div" (click)="closeCart()">
        <img
          src="../../../assets/close.svg"
          alt="close logo"
          class="cart__close-logo"
        />
      </div>
    </div>
    <div class="cart__content">
      <app-shopping-cart-content></app-shopping-cart-content>
    </div>
  </div>
</div>
