<div class="mobile-menu">
  <a class="mobile-menu__link" (click)="closeMenu()" routerLink="/">Home</a>
  <a class="mobile-menu__link" (click)="closeMenu()" routerLink="/categories">Categories</a>
  <a class="mobile-menu__link" (click)="closeMenu()" routerLink="/contacts">Contact Us</a>
  <a class="mobile-menu__link" (click)="closeMenu()" routerLink="/">Checkout</a>
  <a class="mobile-menu__link" (click)="closeMenu()" routerLink="/login">Login</a>
</div>

<div class="mobile-menu-overlay" (click)="onClickOverlay($event)"></div>