
.category { 
  min-height: 75vh;
  position: relative;
  display: flex;
}

.category__nav { 
  position: sticky;
  top: 7vh;
  flex-basis: 25%;
  height: 93vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: var(--primary-color-50);
}

.category__h2 { 
  margin-top: 15vh;
  border-bottom: 2px solid black;
}

.category__nav-link { 
  color: var(--primary-color-900);
  text-decoration: none;

  height: 45px;
  width: 90%;
  border: 1px solid var(--primary-color-900);
  border-radius: 7px;
  text-align: center;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.category__nav-link--active { 
  background-color: var(--primary-color-200);
  border: none;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.223);
  cursor: default;
}

.category__items { 
  margin-top: 5vh;
  margin-inline: 8vw;
  left: 20%;
}

.category__h1 { 
  font-size: 45px;
  color: var(--primary-color-900);
  margin-bottom: 20px;
}

.category__card-container { 
  display: grid;
  grid-template-columns: repeat(4, minmax(120px, 300px));
  gap: 40px;
}

@media screen and (max-width: 1000px) { 
  .category__nav { 
    display: none;
  }
  .category__card-container { 
    grid-template-columns: repeat(3, minmax(150px, 300px));
  }
}

@media screen and (max-width: 600px) { 
  .category__card-container { 
    grid-template-columns: repeat(2, minmax(120px, 300px));
    gap: 20px;
  }
}