:root { 
  --primary-color: #419A45;
  --primary-color-50: #E0FFE2;
  --primary-color-100: #CCFFCE;
  --primary-color-200: #95E799;
  --primary-color-300: #78CD7C;
  --primary-color-400: #60B664;
  --primary-color-600: #2C782F;
  --primary-color-700: #1F6522;
  --primary-color-800: #0C4E0F;
  --primary-color-900: #002A02;
  --secondary-blue: #2273D2;
  --secondary-red: #D22D22;
  /* --secondary-yellow: #; */
}
* { 
  font-family: 'Inter', sans-serif;
}

 *{ 
  margin: 0;
}


body { 
  height: 200vh;
  position: relative;
}
